{% extends 'base.html.twig' %}

{% block title %}Hello CandidatController!{% endblock %}

{% block body %}
    <div class="container-fluid">

        
        <div class="row d-flex align-items-center my-4">
            <div class="col">
                <h1 class="my-4">Liste des Candidats</h1>
            </div>
        </div>

        <!-- En tête tableau -->
        <div class="row my-2 py-1">
            <div class="col-1"></div>
            <div class="col">
                <strong>Prénom</strong>
            </div>
            <div class="col">
                <strong>Nom</strong>
            </div>
            <div class="col">
                <strong>Poste</strong>
            </div>
            <div class="col">
                <strong>Email</strong>
            </div>
            <div class="col"></div>
        </div>

        {% for c in candidats %}
            
            <!-- Row Skill -->
            <div class="row d-flex align-items-center my-2 py-1 rounded table-row">
                <div class="col-1">
                    <img src="{{ c.pictureUrl }}" alt="{{ c.firstname }} {{ c.lastname }}" class="table-img">
                </div>
                <div class="col">
                    {{ c.firstname }}
                </div>
                <div class="col">
                    {{ c.lastname }}
                </div>
                <div class="col">
                    {{ c.jobTitle }}
				</div>
                <div class="col">
                    {{ c.email }}
                </div>
                <div class="col text-end">
                    <a class="blue-3 mx-1" href="{{ path('profil', {'id': c.id}) }}"><i class="far fa-user-tag"></i></a>
                    <a class="grape-3 mx-1" href="{{ path ('candidats_delete', {'id': c.id})}}"><i class="far fa-user-times"></i></a>
                </div>
            </div>
            

        {% endfor %}

        
    </div>
{% endblock %}
