{% extends 'base.html.twig' %}

{% block title %}Hello CollaborateurController!
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<h1 class="my-4">Liste des Collaborateurs</h1>

        <!-- En tête tableau -->
        <div class="row my-2 py-1">
            <div class="col-1"></div>
            <div class="col">
                <strong>Prénom</strong>
            </div>
            <div class="col">
                <strong>Nom</strong>
            </div>
            <div class="col">
                <strong>Poste</strong>
            </div>
			<div class="col">
                <strong>Email</strong>
            </div>
            <div class="col"></div>
        </div>
        
		{% for c in collaborateurs %}

			<!-- Row Skill -->
			<div class="row d-flex align-items-center my-2 py-1 rounded table-row">
				<div class="col-1">
					<img src="{{ c.pictureUrl }}" alt="{{ c.firstname }} {{ c.lastname }}" class="table-img">
				</div>
				<div class="col">
					{{ c.firstname }}
				</div>
				<div class="col">
					{{ c.lastname }}
				</div>
				<div class="col">
					{{ c.jobTitle }}
				</div>
				<div class="col">
					{{ c.email }}
				</div>
				<div class="col text-end">
					<a class="blue-3 mx-1" href="{{ path('profil', {'id': c.id}) }}"><i class="far fa-user-tag"></i></a>
                    <a class="grape-3 mx-1" href="{{ path ('collaborateurs_delete', {'id': c.id})}}"><i class="far fa-user-times"></i></a>
				</div>
			</div>

		{% endfor %}
	</div>
{% endblock %}
