{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="row py-4">

        <!-- Col Collaborateurs -->
        <div class="col-12 col-lg-6 col-xl-4 my-3">
            <div class="card">

                <div class="card-header p-4">
                    <h4 class="fs-5 mb-0">Nouveau Collaborateurs</h4>
                </div>

                <!-- Body card presentation -->
                <div class="card-body">
                    <div class="row p-3 g-4">

                        {% for profil in listNewCollaborateur %}
                            <div class="col-12">
                                <a class="card-link" href="{{ path('profil', {'id': profil.id}) }}">
                                    <div class="card card-profil" >
                                        <div class="card-body">
                                            <div class="row text-lg-center d-flex align-items-center">
                                                <div class="col-4 my-3 text-center">
                                                    <img src="{{ profil.picture_url }}" alt="{{ profil.firstname }} {{ profil.lastname }}" class="profil-picture">
                                                </div>
                                                <div class="col-8 text-start">
                                                    <h2 class="fs-5">{{ profil.firstname }} {{ profil.lastname|upper }}</h2>
                                                    {% if profil.job_title %}
                                                        <h5 class="fs-6">{{ profil.job_title }}</h5>
                                                    {% else %}
                                                        <h5 class="fs-6">Profession Inconnue !</h5>
                                                    {% endif %}
                                                
                                                {% if profil.disponibility %}
                                                    <small><span class="grass-3 me-1"><i class="fas fa-circle"></i></span> Disponible</small>
                                                {% else %}
                                                    <small><span class="grape-3 me-1"><i class="fas fa-circle"></i></span> Non Disponible</small>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                           
                        {% endfor %}

                    </div>
                </div> <!-- END - Body card presentation -->

            </div>
        </div> <!-- END - Col Collaborateurs -->



        <!-- Col Collaborateurs -->
        <div class="col-12 col-lg-6 col-xl-4 my-3">
            <div class="card">

                <div class="card-header p-4">
                    <h4 class="fs-5 mb-0">Collaborateurs Modifiés</h4>
                </div>

                <!-- Body card presentation -->
                <div class="card-body">
                    <div class="row p-3 g-4">
                        {% for profil in listModifiedCollaborateur %}
                            <div class="col-12">
                                <a class="card-link" href="{{ path('profil', {'id': profil.id}) }}">
                                    <div class="card card-profil" >
                                        <div class="card-body">
                                            <div class="row text-lg-center d-flex align-items-center">
                                                <div class="col-4 my-3 text-center">
                                                    <img src="{{ profil.picture_url }}" alt="{{ profil.firstname }} {{ profil.lastname }}" class="profil-picture">
                                                </div>
                                                <div class="col-8 text-start">
                                                    <h2 class="fs-5">{{ profil.firstname }} {{ profil.lastname|upper }}</h2>
                                                    {% if profil.job_title %}
                                                        <h5 class="fs-6">{{ profil.job_title }}</h5>
                                                    {% else %}
                                                        <h5 class="fs-6">Profession Inconnue !</h5>
                                                    {% endif %}
                                                
                                                {% if profil.disponibility %}
                                                    <small><span class="grass-3 me-1"><i class="fas fa-circle"></i></span> Disponible</small>
                                                {% else %}
                                                    <small><span class="grape-3 me-1"><i class="fas fa-circle"></i></span> Non Disponible</small>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                           
                        {% endfor %}

                    </div>
                </div> <!-- END - Body card presentation -->

            </div>
        </div> <!-- END - Col Collaborateurs -->



        <!-- Col Candidat -->
        <div class="col-12 col-lg-6 col-xl-4 my-3">
            <div class="card">

                <div class="card-header p-4">
                    <h4 class="fs-5 mb-0">Nouveau Candidat</h4>
                </div>

                <!-- Body card presentation -->
                <div class="card-body">
                    <div class="row p-3 g-4">
                        {% for profil in listNewCandidat %}
                            <div class="col-12">
                                <a class="card-link" href="{{ path('profil', {'id': profil.id}) }}">
                                    <div class="card card-profil" >
                                        <div class="card-body">
                                            <div class="row text-lg-center d-flex align-items-center">
                                                <div class="col-4 my-3 text-center">
                                                    <img src="{{ profil.picture_url }}" alt="{{ profil.firstname }} {{ profil.lastname }}" class="profil-picture">
                                                </div>
                                                <div class="col-8 text-start">
                                                    <h2 class="fs-5">{{ profil.firstname }} {{ profil.lastname|upper }}</h2>
                                                    {% if profil.job_title %}
                                                        <h5 class="fs-6">{{ profil.job_title }}</h5>
                                                    {% else %}
                                                        <h5 class="fs-6">Profession Inconnue !</h5>
                                                    {% endif %}
                                                
                                                {% if profil.disponibility %}
                                                    <small><span class="grass-3 me-1"><i class="fas fa-circle"></i></span> Disponible</small>
                                                {% else %}
                                                    <small><span class="grape-3 me-1"><i class="fas fa-circle"></i></span> Non Disponible</small>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                           
                        {% endfor %}

                    </div>
                </div> <!-- END - Body card presentation -->

            </div>
        </div> <!-- END - Col Candidat -->

    </div>

{% endblock %}
